<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Login" styleClass="w-25 p-card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
      <!-- Email -->
      <div class="flex flex-column gap-1">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Enter your email"
        />
        <small class="p-error" *ngIf="submitted && loginForm.get('email')?.errors">
          <span *ngIf="loginForm.get('email')?.errors?.['required']"> Email is required </span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']"> Enter a valid email </span>
        </small>
      </div>

      <!-- Password -->
      <div class="flex flex-column gap-1">
        <label for="password">Password</label>
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
          placeholder="Enter password"
          toggleMask="true"
        ></p-password>
        <small class="p-error" *ngIf="submitted && loginForm.get('password')?.errors">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Minimum 6 characters required
          </span>
        </small>
      </div>

      <!-- Submit -->
      <p-button label="Login" type="submit" styleClass="w-full"></p-button>
    </form>
  </p-card>
</div>
